// colors
$primary: #4f5791; // #1890ff
$link: #f28c32; // #ffd740
$green: #5bbd82;
$red: #f75d5d;

// global variables
$family-sans-serif: 'Source Sans Pro', sans-serif;
$family-secondary: 'Montserrat', sans-serif;
$grey-dark: #757763;
$grey-light: #d0d1cd;
$widescreen-enabled: false;
$fullhd-enabled: true;

// omponent variables
$body-background-color: #eff2f7;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;
